<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="Tutorial">
    <meta name="author" content="{{ page.signed-by }}">
    <link rel="stylesheet" href="/assets/css/code.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>🖥️ :: {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
<body>
    <nav>
        <p>
            <a href="/">Home</a>
            <a href="/">About</a>
        </p>
    </nav>