* {
    text-rendering: geometricPrecision;
}

@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    border-bottom: 1px solid #d0d7de;
}

blockquote {
    margin-left: 1em;
    font-style: italic;
}

.quoteblock {
    margin: 2em auto;
    padding: 20px;
    border-left: 1em solid #444;
}

.attribution {
    font-size: 0.8em;
    margin-left: 1em;
}

.MathJax {
    word-wrap: break-word !important;
    font-size: large !important;
}

.column {
    border: 1px solid #d0d7de;
    border-radius: 8px;
}

.column-left {
    float: left;
    width: 70%;
    overflow: hidden;
}

.column-right {
    padding: 10px;
    float: left;
    width: 20%;
    margin-left: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-title {
    background-color: #F6F8FA;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-weight: 600;
}

.pad {
    padding: 20px;
}

.f-top {
    padding-top: 0;
}

@media screen and (max-width: 600px) {
    body {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .column-left {
        width: 100%;
    }

    .column-right {
        margin-left: 0;
        margin-top: 20px;
    }

}

.img-author {
    border-radius: 50%;
    max-width: 20%;
    border: 1px solid #d0d7de;
}

.author {
    margin: 10px;
}

figure {
    margin-left: 0;
}

.v-align {
    vertical-align: middle;
}

.center {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

hr {
    margin-top: 5vh;
    border-top: none;
    border-bottom: 0.5px solid #d0d7de;
}

footer {
    margin-top: 5vh;
    margin-bottom: 8vh;
}

nav a {
    margin-right: 8px;
}

li {
    list-style: square;
}